{% extends 'base.html' %} {% block content %}

{% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-warning">
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endwith %} {% block body %}{% endblock %}

<table class="table table-hover">
  <thead>
    <tr>
      <th style="width: 10%" scope="col">#</th>
      <th style="width: 20%" scope="col">Anúncio</th>
      <th style="width: 20%" scope="col">Valor</th>
      <th style="width: 1%" scope="col">Ações</th>
    </tr>
  </thead>
  <tbody> 

    
     
      {%  for my in user  %}

    <tr>
        
      <th scope="row">{{loop.index}}</th>
      <td>{{ my.title }}</td>
      <td>{{ my.value }}</td>
      
      <td style="width: 1%">
        <a href="/republica/remove/{{ my.id }}"><button class="btn btn-danger btn-sm">APAGAR</button>
        </a>
      
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

